/*
    Copied from 'Global - Pseudo Brightness Control' user style
    http://userstyles.org/styles/45663
    by luckymouse
    http://userstyles.org/users/14255
*/

html:after {
  content:"" !important;
  position: fixed !important;
  top: 0 !important;
  bottom: 0 !important;
  left: 0 !important;
  right: 0 !important;
  background: #000 !important;
  z-index: 99999999 !important;
  pointer-events: none !important;
  /*
    Change opacity to adjust brightness
    0: Normal
    1: Pitch dark
  */
  opacity: .2 !important;
}