html {
  background: #222
              url("data:image/png;base64,\
                   iVBORw0KGgoAAAANSUhEUgAAABAAAAAQCAYAAAAf8/9hA\
                   AAAAXNSR0IArs4c6QAAAAZiS0dEAP8A/wD/oL2nkwAAAC\
                   5JREFUOMtjZGBgsGfAA/7//38QnzwTA4Vg1IDBYADj///\
                   /8StgZLQfDcRhbwAAfyQHW028hvoAAAAASUVORK5CYII=")
              0 0 repeat fixed !important;
}
body, img { background-image: none !important; }
img {
  box-shadow: none;
  background-color: hsl(0,0%,90%);
}
#dummy { color: transparent; }
#color-config {
  background-color: rgba(255, 255, 255, .9);
  color: black;
  border: 1px outset rgba(255, 255, 255, .9);
  border-radius: 6px;
  padding: 0 1em;
  width: 340px;
  height: 105px;
  top: 20px;
  left: -moz-calc(50% - 170px);
  left:      calc(50% - 170px);
}
#color-config, body > div:last-child {
  position: fixed !important;
  box-shadow: 3px 3px 6px rgba(0, 0, 0, .5);
}
#color-config div { margin: 1em 0; }
#color-config a, a:visited { color: blue; }
#color-config a:active { color: red; }
#links {
  font-size: x-small;
  margin-top: .5em;
}
#error {
  float: left;
  cursor: pointer;
  text-decoration: underline;
}
#about { float: right; }
.hide { display: none; }
menuitem[disabled] { font-weight: bold; }