html {
  background: #222
              url("data:image/png;base64,\
                   iVBORw0KGgoAAAANSUhEUgAAABAAAAAQCAYAAAAf8/9hA\
                   AAAAXNSR0IArs4c6QAAAAZiS0dEAP8A/wD/oL2nkwAAAC\
                   5JREFUOMtjZGBgsGfAA/7//38QnzwTA4Vg1IDBYADj///\
                   /8StgZLQfDcRhbwAAfyQHW028hvoAAAAASUVORK5CYII=")
              0 0 repeat fixed !important;
}
body, img { background-image: none !important; }
img {
  box-shadow: none !important;
  background: hsl(0,0%,90%);
}
#dummy { color: transparent; }
#dummy, #color-config { display: none; }
#color-config {
  background-color: rgba(255, 255, 255, .9);
  color: black;
  border: 1px outset rgba(255, 255, 255, .9);
  border-radius: 6px;
  padding: 0 1em;
  width: 350px;
  height: 100px;
  top: 20px;
  left: -moz-calc(50% - 175px);
  left:      calc(50% - 175px);
}
#color-config, body > div:last-child {
  position: fixed !important;
  box-shadow: 3px 3px 6px rgba(0, 0, 0, .5);
}
#color-config a { color: blue; }
#color-config a:active,
#color-config a:visited:active { color: red; }
#color-config a:visited { color: purple; }